<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KDH's website</title>
</head>
<body>
    <nav>
        <a href="/blog/">
            <h1>Blog</h1>
        </a>
        <a href="/about_me/">
            <h1>About me</h1>
        </a>
    </nav>

    <h1>안녕하세요. 반갑습니다.</h1>
    <h2>Landing Page</h2>
</body>
</html>